slot {
    display: flex;
    flex-direction: column;
}

::slotted([popover-action]) {
    display: flex;
    height: 40px;
    padding: 0 16px !important;
    gap: 8px;
    align-items: center;
    border-radius: var(--rounded-sm);
    color: rgb(var(--color-black));
    font-weight: 500;
    cursor: pointer;
}

::slotted([popover-action][danger]) {
    color: rgb(var(--color-red));
}

::slotted([popover-action]:hover) {
    background-color: rgba(var(--color-gray-4), 0.3) !important;
}
::slotted([popover-action][danger]:hover) {
    background-color: rgba(var(--color-red), 0.1) !important;
}
