<div class="main">
    <div class="message-parent">
        <div class="message">
            <div class="message-sender">
                <div class="titel">Jarne Kompier</div>
                <div class="message1">
                </div>
            </div>
        </div>
        <div class="message2">
            <div class="content">
                <div class="titel1"></div>
                <div class="message3"></div>
            </div>
        </div>
        <div class="message4">
            <div class="content2">
                <div class="titel"></div>
                <div class="message5">
                </div>
            </div>
        </div>
    </div>
    <div class="message6">
        <div class="typ-een-brericht-wrapper">
            <div class="typ-een-brericht">Typ een bericht...</div>
        </div>
        <div class="send">
            <div class="send-child">
            </div>
            <img class="send-icon" alt="" src="send.svg">
        </div>
    </div>
</div>