textarea {
    border-radius: var(--rounded-sm);
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid rgb(var(--color-gray-4));
    background-color: transparent;
    color: rgb(var(--color-gray-2));
    outline: none;
    transition: border-color 0.2s ease;
    width: 100%;
    height: 100%;
    resize: none;
}

textarea:focus-within {
    border-color: rgb(var(--color-gray-2));
}
