:host {
  & [data-header] {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 24px 48px;
    gap: 12px;
    justify-content: start;
    align-items: start;
    background-color: var(--color-gray-1);
  }

  & ::slotted([slot="title"]) {
    max-width: 400px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-black);
  }

  & ::slotted([slot="subtitle"]) {
    max-width: 400px;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-black);
  }
}

@media (min-width: 640px) {
  :host { 
    & [data-header] {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    & ::slotted([slot="title"]) {
      font-size: 20px;
      font-weight: 700;
      color: var(--color-black);
    }
  
    & ::slotted([slot="subtitle"]) {
      font-size: 14px;
      font-weight: 400;
      color: var(--color-black);
    }
  }
}
