/* -------------------------------------------------------------
 * Popper Component Stylesheet
 *
 * This stylesheet defines the appearance and animation behavior
 * for the <x-popper> web component.
 * ------------------------------------------------------------- */

:host {
    --popper-offset: 6px;
    --popper-padding: 0.25rem;
    --popper-bg: #fff;
    --popper-radius: var(--rounded-sm);
    --popper-shadow:
        0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 1px rgba(var(--color-gray-2, 128, 128, 128), 0.2),
        0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    --popper-duration: 150ms;
    --popper-easing: var(--easing-function);
    --initial-transform: scale(0.96);

    position: relative;

    & [data-content] {
        position: absolute;
        display: none;
        padding: var(--popper-padding);
        background: var(--popper-bg);
        border-radius: var(--popper-radius);
        box-shadow: var(--popper-shadow);
        opacity: 0;
        z-index: 15;
        transform-origin: var(--popover-transform-origin, center);
        transform: var(--initial-transform);
    }
}

:host button,
:host fieldset,
:host input {
    all: unset;
}

:host([open]) [data-content] {
    display: flex;
    animation: contentShow var(--popper-duration) var(--popper-easing) forwards;
}

:host([closing]) [data-content] {
    display: flex;
    animation: contentHide var(--popper-duration) var(--popper-easing) forwards;
}

:host([position='top']) [data-content] {
    inset-block-end: 100%;
    margin-block-end: var(--popper-offset);
    --popover-transform-origin: bottom center;
}
:host([position='bottom']) [data-content] {
    inset-block-start: 100%;
    margin-block-start: var(--popper-offset);
    --popover-transform-origin: top center;
}
:host([position='left']) [data-content] {
    inset-inline-end: 100%;
    margin-inline-end: var(--popper-offset);
    --popover-transform-origin: center right;
}
:host([position='right']) [data-content] {
    inset-inline-start: 100%;
    margin-inline-start: var(--popper-offset);
    --popover-transform-origin: center left;
}

:host([position='top'][placement='left']) [data-content],
:host([position='bottom'][placement='left']) [data-content] {
    inset-inline-start: 0;
}
:host([position='top'][placement='right']) [data-content],
:host([position='bottom'][placement='right']) [data-content] {
    inset-inline-end: 0;
}
:host([position='top'][placement='middle']) [data-content],
:host([position='bottom'][placement='middle']) [data-content] {
    inset-block-start: -25%;
    transform: translateX(50%) var(--initial-transform);
}

:host([position='left'][placement='top']) [data-content],
:host([position='right'][placement='top']) [data-content] {
    inset-block-start: 0;
}
:host([position='left'][placement='middle']) [data-content],
:host([position='right'][placement='middle']) [data-content] {
    inset-block-start: -25%;
    transform: translateY(50%) var(--initial-transform);
}
:host([position='left'][placement='bottom']) [data-content],
:host([position='right'][placement='bottom']) [data-content] {
    inset-block-end: 0;
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: var(--initial-transform);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes contentHide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: var(--initial-transform);
    }
}
