.study-year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--color-gray-5));
    border-radius: 12px;
    padding: 12px;
    width: 242px;
    height: 355px;
    font-family: sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 20px;
}


.semester {
    position: relative;
    border-radius: 8px;
    border: 2px solid rgb(var(--color-gray-4));
    width: 218px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .semester.locked::before,
    .semester.unlocked::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 8px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }



    .semester p {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: rgb(var(--color-black));
        text-align: center;
        margin: 0;
    }

.semester-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgb(var(--color-gray-2));
    text-align: center;
    margin: 14px;
}

.year-header {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(var(--color-black));
    text-align: center;
}

.lock-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;
    color: rgb(var(--color-black));
}


.semester.unlocked {
    border: 2px dashed rgba(var(--color-black), 1);
    cursor: pointer;
}

    .semester.unlocked.selected-semester {
        border: 2px dashed rgba(var(--color-gold), 1);
    }

.semester.locked .lock-icon {
    color: rgb(var(--color-black));
}

.semester.keuze-dotted {
    border: 2px dashed rgb(var(--color-gold));
    font-style: italic;
}

.study-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    padding: 20px;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}
