/* -------------------------------------------------------------
 * Sheet Component Stylesheet
 *
 * Defines appearance, layout, and animation for the <x-sheet> component.
 * Utilizes CSS variables for customization and respects reduced-motion settings.
 * ------------------------------------------------------------- */

:host {
    --sheet-width: 20rem;
    --sheet-gap: 12px;
    --sheet-header-offset: var(--header-height, 0);
    --sheet-duration: 500ms;
    --sheet-easing: var(--easing-function, ease-in-out);

    display: block;

    & [data-dialog] {
        display: none;
        width: 100%;
        max-inline-size: var(--sheet-width);
        height: calc(100% - var(--sheet-header-offset) - (var(--sheet-gap) * 2));
        inset-block-start: calc(var(--sheet-header-offset) + var(--sheet-gap));
        inset-block-end: var(--sheet-gap);
        inset-inline-start: var(--sheet-gap);
        inset-inline-end: var(--sheet-gap);
        padding: 0;
        background-color: #fff;
        border-radius: var(--rounded-lg, 0.5rem);
        box-shadow:
            rgba(var(--color-gray-2, 0, 0, 0), 0.2) 0 0 0 1px,
            rgba(0, 0, 0, 0.1) 0 20px 25px -5px,
            rgba(0, 0, 0, 0.1) 0 8px 10px -6px;
        overflow-y: auto;
        z-index: 15;

        transform: translateX(var(--transform-x, -100%));
    }
}

:host(:not([floating])) [data-dialog] {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: -12px;
}

:host([side='left']) [data-dialog] {
    inset-inline-start: var(--sheet-gap);
    inset-inline-end: auto;
    --transform-x: -100%;
}
:host([side='right']) [data-dialog] {
    inset-inline-start: auto;
    inset-inline-end: var(--sheet-gap);
    --transform-x: 100%;
}

/* Open and closing animations */
:host([open]) [data-dialog] {
    display: block;
    animation: slide-in var(--sheet-duration) var(--sheet-easing) forwards;
}
:host([closing]) [data-dialog] {
    animation: slide-out var(--sheet-duration) var(--sheet-easing) forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(calc(var(--transform-x) - var(--sheet-gap)));
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(var(--transform-x) - var(--sheet-gap)));
    }
}

@media (prefers-reduced-motion: reduce) {
    [data-dialog] {
        animation: none !important;
        transition: none !important;
    }
}
