:host {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
}

[data-dialog] {
    display: none;
    position:relative;
    left: 0;
    top: 0;
    transform: none;
    margin: 12px;
    flex: 1;
    padding: 1.5rem;
    background-color: #fff;
    border-right: 1px solid rgba(var(--color-gray-3), 0.2);
    border-radius: var(--rounded-lg);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    z-index: 25;
    transition-property:
        color,
        background-color,
        border-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: slideOut 300ms forwards;
}

:host([type='floating']) [data-dialog] {
    position: fixed;
}

@media (min-width: 640px) {
    [data-dialog] {
        max-width: 16rem;
    }

    :host([open]) [data-dialog] {
        display: flex;
        animation: slideIn 500ms forwards;
    }
}

@keyframes slideIn {
    from {
        opacity: 1;
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotate(0);
    }
}

@keyframes slideOut {
    to {
        opacity: 1;
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotate(0);
    }
}
