:host {
    width: 100%;
}

.sheetContent {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    padding: 1.5rem;
    background-color: #fff;
    border-right: 1px solid rgba(var(--color-gray-3), 0.2);
    border-radius: 0 var(--rounded-lg) var(--rounded-lg) 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sheetContent[open=true] {
    animation: slideIn;
    animation-duration: 500ms;
}

.sheetContent[open=false] {
    animation: slideOut;
    animation-duration: 300ms;
}

@media (min-width: 640px) {
    .sheetContent {
        max-width: 18rem;
    }
}

@keyframes slideIn {
    from {
        opacity: 1;
        transform: translate3d(-100%, var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
    }
}

@keyframes slideOut {
    to {
        opacity: 1;
        transform: translate3d(-100%, var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
    }
}