:host {
    --primary-color: 255, 255, 255;
    --accent-color: 255, 255, 255;
}

:host {
    position: relative;

    & [data-accordion] {
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
        padding: 10px;
        gap: 8px;
        background-color: rgb(var(--color-gray-5));
        border: 1px solid rgba(var(--color-gray-4), 0.2);
        border-radius: var(--rounded-md);
        cursor: pointer;
    }

    & .circle {
        width: 12px;
        height: 12px;
        border-radius: var(--rounded-full);
        background-color: rgb(var(--primary-color));
        border: 1px solid rgba(var(--accent-color), 0.2);
    }
}

:host([open]) [data-accordion] {
    background-color: rgba(var(--primary-color), 0.2);
    border: 1px solid rgba(var(--accent-color), 0.2);

    .icon {
        transform: rotate(45deg); /* plus -> kruis */
    }
}

:host(:not([open])) [data-accordion]:hover {
    background-color: rgba(var(--color-gray-4), 0.5);
}

.icon {
    width: 20px;
    height: 20px;
    fill: rgb(var(--color-gray-2));
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

::slotted([slot='title']) {
    display: flex;
    flex: 1;
    color: rgb(var(--color-black));
    font-size: 12px;
    font-weight: 700;
    text-align: left;
}

:host([open]) [data-content] {
    margin-bottom: 10px;
}

[data-content] {
    display: flex;
    max-height: 0;
    margin-top: 10px;
    padding-left: 10px;
    gap: 12px;
    background-color: transparent;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    & .line {
        display: flex;
        width: 2px;
        background-color: rgb(var(--primary-color));
    }

    & .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
}

::slotted(.module-item) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    width: 100%;
    padding: 10px !important;
    gap: 8px;
    background-color: rgba(var(--primary-color), 0.2);
    border: 1px solid rgba(var(--accent-color), 0.2);
    border-radius: var(--rounded-md);
    color: rgb(var(--color-black));
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: left;
}
